<section class="galeria" id="galeria">
    <div class="foto">
        <img src="/img/1.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/img/2.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/img/3.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/img/4.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/img/5.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/img/6.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/img/7.jpg" alt="" />
    </div>
    <div class="foto">
        <img src="/img/8.jpg" alt="" />
    </div>
</section>


<style>
    .galeria {
        overflow: hidden;
    }
    .galeria .foto {
        width: 25%;
        float: left;
    }
    .galeria .foto img {
        width: 100%;
        vertical-align: top;
        opacity: 0.7;
    }
    .galeria .foto:hover img {
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
</style>