---
import { intro } from "../scripts/data";
---
<section class="info-section">
    <p>
        { intro }
    </p>
</section>

<style>
    .info-section {
        background-color: #f9f9f9;
        padding: 40px;
        text-align: center;
    }

    .info-section p {
        font-size: 20px;
        line-height: 1.6;
        max-width: 800px;
        margin: 0 auto;
        font-family: "Big Shoulders Text", cursive;
    }

    @media (max-width: 768px) {
        .info-section p {
            font-size: 16px;
        }
    }

    @media (max-width: 480px) {
        .info-section p {
            font-size: 14px;
        }
    }
</style>