<div class="restaurant-info">
    <p>
        Aquí se come como en casa pero
        sin tener que lavar los platos.
        Tlaxco de mi Corazón restaurante & Café
        ofrece desayunos que van desde huevos revueltos
        y omelettes hasta especialidades como chilaquiles y enchiladas.
        También encontrarás sándwiches, molletes y tostas,
        acompañados por frappés, licuados, jugos y una
        variedad de cafés. El menú se completa con
        opciones dulces como pan artesanal y bowls
        de frutas. Cada platillo es preparado al momento,
        asegurando frescura en cada bocado.
    </p>
</div>
<style>
    .restaurant-info {
        background-color: #f9f9f9;
        padding: 40px;
        text-align: center;
    }

    .restaurant-info p {
        font-size: 20px;
        line-height: 1.6;
        max-width: 800px;
        margin: 0 auto;
        font-family: "Big Shoulders Text", cursive;
    }

    @media (max-width: 768px) {
        .restaurant-info p {
            font-size: 16px;
        }
    }

    @media (max-width: 480px) {
        .restaurant-info p {
            font-size: 14px;
        }
    }
</style>
